// .Room-Lobby,
// .Room-Connected,
// .Room-Winner,
// .Room-Board {
//   // position: relative;
// }

.Room-Connected {
  h2 {
    margin: 0;
  }
}

.Room-Message {
  // margin-bottom: 2rem;
  h2 {
    margin: 0;
  }
}

.Room-Reset {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -1.5rem;
  button {
    width: 3rem;
    padding: 0;
    background: transparent;
    color: #666;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
