$lightYellow: rgb(238, 234, 189);

// full height wrapper for main screen
.GameGrid-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.GameGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  &-Loading {
    background: $lightYellow;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-Winner {
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
